body {
  background-color: #e9f7ef; /* Fallback color */
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
  background-image: url('./bg3.jpg'); /* Ensure the path is correct */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-color: rgba(129, 203, 249, 0.8); /* Light sky blue with transparency */
}

.form-container {
  width: 90%; /* Make it responsive */
  max-width: 400px; /* Set a max width */
  padding: 30px; /* Increased padding for more height */
  border-radius: 10px;
  background-color: rgba(129, 203, 249, 0.8); /* Light blue with some transparency */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.form-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.error-message {
  color: red;
  font-weight: bold;
}
.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}
